@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: 'Public Sans' !important;
  background: #F7F7FA;
  color: #2F2B3DE6;
  font-weight: 400;
}

.MuiInputBase-input {
font-family: "Public Sans" !important;
padding-top: 5.5px !important;
padding-bottom: 5.5px !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.analyser ::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.analyser ::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.analyser ::-webkit-scrollbar-thumb {
  background: #accbf2;
  border-radius: 5px;
}

/* Handle on hover */
.analyser ::-webkit-scrollbar-thumb:hover {
  background: #96bcea;
  cursor: pointer;
}


/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.apexcharts-canvas line[stroke='transparent'] {
  display: none;
}
.apexcharts-canvas .apexcharts-tooltip {
  background: #fff;
  border-color: "#ebe9f1";
}
.apexcharts-canvas .apexcharts-tooltip .apexcharts-tooltip-title {
  background: #fff !important;
  border-color: "#ebe9f1" !important;
  font-weight: 600;
}
.apexcharts-canvas .apexcharts-tooltip.apexcharts-theme-dark .apexcharts-tooltip-text-label, .apexcharts-canvas .apexcharts-tooltip.apexcharts-theme-dark .apexcharts-tooltip-text-value {
  color: #fff;
}
.apexcharts-canvas .apexcharts-xaxistooltip, .apexcharts-canvas .apexcharts-yaxistooltip {
  background: "#f8f8f8";
  border-color: "#ebe9f1";
}
.apexcharts-canvas .apexcharts-xaxistooltip-bottom:before {
  border-bottom-color: "#ebe9f1";
}
.apexcharts-canvas .apexcharts-xaxistooltip-bottom::after {
  border-bottom-color: "#f8f8f8";
}
.apexcharts-canvas .apexcharts-xaxistooltip-top:before {
  border-top-color: "#ebe9f1";
}
.apexcharts-canvas .apexcharts-xaxistooltip-top::after {
  border-top-color: "#f8f8f8";
}
.apexcharts-canvas .apexcharts-yaxistooltip-left:before {
  border-left-color: "#ebe9f1";
}
.apexcharts-canvas .apexcharts-yaxistooltip-left:after {
  border-left-color: "#f8f8f8";
}
.apexcharts-canvas .apexcharts-yaxistooltip-right:before {
  border-right-color: "#ebe9f1";
}
.apexcharts-canvas .apexcharts-yaxistooltip-right:after {
  border-right-color: "#f8f8f8";
}
.apexcharts-canvas .apexcharts-text, .apexcharts-canvas .apexcharts-tooltip-text, .apexcharts-canvas .apexcharts-datalabel-label, .apexcharts-canvas .apexcharts-datalabel {
  font-family: "Public Sans" !important;
  fill: "#6e6b7b";
  font-weight: 400;
  filter: none;
}
.apexcharts-canvas .apexcharts-pie-label {
  fill: white;
  filter: none;
}
.apexcharts-canvas .apexcharts-pie .apexcharts-pie-series .apexcharts-pie-area {
  stroke-width: 0;
}
.apexcharts-canvas .apexcharts-pie .apexcharts-datalabel-label, .apexcharts-canvas .apexcharts-pie .apexcharts-datalabel-value {
  font-size: 1.5rem;
}
.apexcharts-canvas .apexcharts-marker {
  box-shadow: none;
}
.apexcharts-canvas .apexcharts-legend-series + .apexcharts-legend-series {
  margin-top: 0.625rem;
}
.apexcharts-canvas .apexcharts-legend-series .apexcharts-legend-text {
  margin-left: 0.5rem;
  color: "#6e6b7b" !important;
  font-size: 1rem !important;
}
.apexcharts-canvas .apexcharts-xcrosshairs, .apexcharts-canvas .apexcharts-ycrosshairs, .apexcharts-canvas .apexcharts-gridline {
  stroke: "#ebe9f1";
}
.apexcharts-legend.position-bottom {
  bottom: 3rem;
}

.discovery .MuiInputBase-root, .form .MuiAutocomplete-root, .form .MuiFormControl-root {
  font-size: 14px;
}